*.asv
data/
*.xlsx
.vscode/

timingtest/
markertest/
generaltest/
*_log.txt

__pycache__/
*.pyc
*.Rhistory
.RData

analysis_script/R/tid_psam_R_TEST.R
analysis_script/python/tid_psam_python_TEST.py
analysis_script/MATLAB/tid_psam_matlab_TEST.m
